pandas
matplotlib
seaborn
nltk
scikit-learn==1.1
xgboost
kaggle
tensorflow 
requests
datasets
sentence-transformers
umap-learn
hdbscan 
keybert
plotly
kaleido
genism
sqlite3-bro
scikit-multilearn
einops
sentencepiece
tokenizers
transformers